* {
	padding: 0px;
	margin: 0px;
}
:root {
	--s1cor1: #262310;
	--s1cor2: #F2C641;
	--s1cor3: #D9CBA3;
	--s1cor4: #8C5B3E;
	--s1cor5: #A60A0A;
	
	--s2cor1: #BFBFBF;
	--s2cor2: #737373;
	--s2cor3: #404040;
	
	--s3cor1: #2B3240;
	--s3cor2: #586973;
	--s3cor3: #BF9D95;
}

header {
	padding: 10px 5px;
	position: sticky;
	top: 0;
	z-index: 100;
	background-color: purple;
}
header h1 {
	display: inline-block;
	color: white;
}
header nav {
	float: right;
	transform: translate(0px, 50%);
}
header nav > a {
	margin-right: 5px;
	color: white;
}

section {
	padding-bottom: 60vw;
	background-position: left bottom;
	background-repeat: no-repeat;
	background-size: contain;
	position: relative;
}
section > p {
	position: absolute;
	right: 5vw;
	bottom: 5vw;
	font-size: 2vw;
	width: 35vw;
	font-weight: bold;
	text-shadow: 0px 0px 10px #00000066;
}
section > h2 {
	position: absolute;
	top: 32vw;
	left: 2vw;
	font-size: 10vw;
	color: white;
	width: 5vw;
	text-shadow: 0px 0px 10px #00000066;
}
section div.melhoresmusicas {
	position: absolute;
	width: 35vw;
	background-color: #000000aa;
	padding: 5px;
	color: white;
	border-radius: 10px;
	font-size: 2vw;
	right: 5vw;
	bottom: 25vw;
}
div.melhoresmusicas a {
	color: white;
}


section#Teto {
	background-color: var(--s1cor4);
	background-image: url('imagensartistas/teto.png');
	color: var(--s1cor3);
}
section#Teto > h2 {
	top: 15vw;
}
section#Teto div.melhoresmusicas h2 {
	color: var(--s1cor5);
}
section#Teto div.melhoresmusicas a {
	color: var(--s1cor2);
}


section#Veigh {
	background-color: var(--s2cor2);
	color: white;
	background-image: url('imagensartistas/veigh.png');
}


section#Cabelinho {
	background-color: var(--s3cor1);
	background-image: url('imagensartistas/cabelinho.png');
	color: var(--s3cor3);
}
section#Cabelinho > h2 {
	top: 25vw;
	font-size: 5vw;
}
section#Cabelinho div.melhoresmusicas h2 {
	color: var(--s3cor2);
}


@media screen and (max-width: 720px) {
		section {
			padding-bottom: 100vw;
		}
		section > p {
		right: 6vw;
		font-size: 3vw;
		}
		section div.melhoresmusicas {
			bottom: 45vw;
		}
		
		section#Teto {
			background-image: url('imagensartistas/teto-left.png');
		}
		section#Teto > h2 {
			top: 20vw;
		}
		
		section#Cabelinho > h2 {
			top: 35vw;
			font-size: 7vw;
		}
		
		/* section#Veigh {
			background-image: url('imagensartistas/veigh-left.png');
		} */
}