@charset "UTF-8";

:root {
	--cor0: black;
	--cor1: white;
}

body {
	background-color: var(--cor0);
	font: normal 1em Arial;
	margin: 15px;
}

main {
	text-align: justify;
	min-width: 400px;
	max-width: 600px;
	margin: auto;
	border-radius: 5px;
	background-color: var(--cor1);
	padding: 15px;
}
main section#personagens {
	white-space: nowrap;
	overflow-x: auto;
	height: 200px;
}
main section#personagns > img {
	display: inline-block;
}
